*
body
{
	margin: 0;
	padding: 0;
	background-color: #efefef;
	font-size: 18px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
}
#login-box
{
	position: relative;
	margin: 10% auto;
	width: 70%;
	height: 350px;
	background:#fff;
	box-shadow: 0 2px 4px rgba(0 , 0, 0,  0.8);
}
.left-box

{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 400px;
	height: 400px;
}
h1
{

margin: 0 0  20px  0;
font-weight: 300;
font-size: 25px;
}

input[type="text"], input[type="password"]
{
	display: block;
	box-sizing: border-box;
	margin-bottom: 25px;
	padding: 10px;
	width: 220px;
	height: 45px;
	border: none;
	outline: none;
	border-bottom: 1px #aaa solid;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 15px;
	transition: 0.2s ease;
}
input[type="submit"]
{
	margin-bottom: 28px;
	width: 120px;
	height: 42px;
	background-color: #f44336;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition:0.2s ease;
	cursor: pointer;

}

input[type="text"]:hover
input[type="text"]:focus
{

	background: #ff5722;
	transition: 0.5s ease;
}
.right-box
{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
    width: 50%;
	height: 350px;
	background-image: url(../images/1.png);


}



